* {
    margin: 0;
    padding: 0;
}

.CabecalhoFeed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:black;
    width: 100%;
    padding: 0px 30px;
}
.icones {
    padding: 10px;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.icones .texto-header {
    font-size: small;
}
.btn-header {
    text-decoration: none;
    color: #fff;
}

