*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.CabecalhoFeed{
    display: flex;
    background-color:aqua;
    width: 100vw; 
    height: 100%;
}

.Logo {
    text-align: left;
}

.icones {
    text-align: right;
}
.border{
    margin: 50PX;
    height: auto;
    border: 2px solid black;
}
footer{
    background-color: black;
    padding: 50px;
}
.foto1{
    width:700px ;
    height: 500px;
}
.icones3{
    padding: 10px;
    
}