@import url('https://fonts.googleapis.com/css2?family=Dorsa&display=swap');

.CabecalhoSiteFrom{
    display: inline-flex;
}

.logo{
    width: 200px;
    height: 150px;
}

.CabecalhoSite{
    background: #111;
    width: 100%;
    height: 90px;
}
.TextoInicio > h1{
    margin-left: 20px;
    margin-top: 25px;
    font-family: 'Dorsa', sans-serif;
    letter-spacing: .1em;
    font-size: 50px;
    font-weight: 400;
}

.ImagemBotao{
    height: 35px;
    width: 35px;
}

.pesquisa{
    position: absolute;
    top: 1.5%;
    left: 80%;
    background: #2f2b41;
    height: 30px;
    padding: 30px; ;
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pesquisa .label {
    font-size: 0;
}

::-webkit-input-placeholder{
    color: rgb(255, 255, 255);
}

.PesquisaCabecalho{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: azure;
    width: 0;
    transition: .6s;
}
.botaoPesquisa{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pesquisa:hover > .PesquisaCabecalho,
.pesquisa.aberto > .PesquisaCabecalho {
    width: 200px;
    padding: 0 6px;
}

.pesquisa:hover > .botaoPesquisa,
.pesquisa.aberto > .botaoPesquisa {
    background: white;
    transition: .6s;
}
