.cabecalhofeed{
    background-color: rgb(158, 95, 209);
    height: 110px;
    max-width: 3000px;
    width: 100%;

    display: flex;
    justify-content: space-around;
}

.cabecalhofeed .logotipo img {
    height: 100%;
    width: 200px /*auto;*/
}

.cabecalhofeed .menu {
    display: flex;
    align-items: flex-end;
}
 
.cabecalhofeed .menu .menu-item1 {
    height: 80px;
    background-color: rgb(191, 152, 228);
    width: 45%;
    flex-shrink: 0;

    display: flex;
    align-items: flex-end;

    background-image: url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: top center;
}

.cabecalhofeed .menu .menu-item2 {
    height: 80px;
    background-color: rgb(191, 152, 228);
    width: 45%;
    flex-shrink: 0;

    display: flex;
    align-items: flex-end;

    background-image: url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: top center;
}

.cabecalhofeed .menu .menu-item3 {
    height: 80px;
    background-color: rgb(191, 152, 228);
    width: 25%;
    flex-shrink: 0;

    display: flex;
    align-items: flex-end;

    background-image: url("https://th.bing.com/th/id/R.b3dc5490eec37609b3f86338904c845e?rik=YusWhMZXg46fJA&riu=http%3a%2f%2fblogfiles.naver.net%2f20141228_98%2fwoowon80_1419767990962Mg2VQ_PNG%2f32_001_11.png&ehk=zYi53gPBgN39HuEt0bszqrw%2b6iEhu6qqOK2ev1V0IxI%3d&risl=&pid=ImgRaw&r=0");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: top center;
}