
.main-cadastrar{
    flex-grow: 1;
    width: 100vw;
    /*height: 100vh;*/
    background: #c3bad8c4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.left-cadastro{
    flex-grow: 1;
    /*width: 50vw;*/
    /*height: 100vh;*/
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    margin-left: 15px;
}
.left-cadastro > h1{
    font-size: 3vw;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Nanum Myeongjo', serif;
    font-size: xx-large;
    margin-right: 30px;
}
.rigth-cadastro{
    flex-grow: 1;

    /*width: 50vw;
    height: 100vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-cadastro{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #2f2b41;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #000035;
}
.card-cadastro > h1{
    color:#dbd3e6 ; 
    font-weight: 800;
    margin: 0;
}
.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #000035;
    color:#dbd3e6 ; 
    font-size: 12pt;
    box-shadow: 0px 10px 40px #000035;
    outline: none;
    box-sizing: border-box;
}
.textfield > label{
    color:#ffffff ; 
    margin-bottom: 10px;
}
.textfield > input ::placeholder{
    color: rgb(255, 255, 255);
}
.btn-cadastrar, .btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    color:#7043ae ; 
    cursor: pointer;

}
.imagem{
    width: 35vw;
}

.inf_rigth{
    text-align: right;
    margin-left: 40vw;
}
.icons{
    border: solid 1px black;
    width: 100%;
}
@media only screen and (max-width: 950px){
    .card-login{
        width:85%
    }
}
 
@media only screen and (max-widht: 600px){
    .main-login{
    flex-direction: column;
}
    .left-login > h1{
    display: none;

}
    .left-login{
    width: 100%;
    height: auto;
}
    .right-login{
    width: 100%;
    height: auto;
}
    .image{
    width: 50vw;
}
    .card-login{
    width: 90%;
}


}