body {
    background: #f2f2f2;
}

.card {
    position: relative;
    border: none;
    border-radius: 8px;
    background: #fff;
    margin: 0px 0px 0px 18px;
    width: 200px;
    height: 190px;
}

.card::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    height: 30px;
    width: 100%;
    background: #7d2ae8;
    border-radius: 8px 8px 0 0;
}

.card .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    position: relative;
    max-height: 200px;
    top: -45px;
}

.card .media-icons {
    position: absolute;
    top: 52px;
    right: 8px;
}

.card .media-icons i {
    color: #fff;
    opacity: 0.6;
    transition: all 0.3s ease;
    cursor: pointer;
}

.card .media-icons i:hover {
    opacity: 1;
}

.card .NomeModelo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
    color: black;
}

.card .NomeModelo .nome {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.swiper {
    margin-bottom: 20px;
}

.painel-swipers {
    width: 770px;
    position: relative;
}

.swiper-slide.ativa .card {
    border-radius: 8px;
    background-color: #08002c;
}

.swiper-slide.ativa .card::before {
    border-radius: 8px;
    background-color: #08002c;
}

.swiper-slide.ativa .card .nome {
    color: #fff;
}

.swiper-wrapper {
    padding-bottom: 8px;
}

.swiper .swiper-pagination {
    bottom: 0px;
}