

h1{
    color: white;
}
.Logo {
    text-align: left;
    font-family: 'Dorsa', sans-serif;
    letter-spacing: .1em;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
}

.icones {
    text-align: right;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    column-gap: 40px;

}
.icones .text-header{
    font-size: large;
}
.conteudo .icones2{
    justify-content: center; 
    padding: 10px;
    display: inline-flex;
}
.border{
    margin-top: 100px;
}
.conteudo .VogueBrasil img{
    width: 600px;
}
.conteudo .VogueBrasil{
    border: solid 1px black;
    padding: 10px;
    margin-bottom: 5px;
}
.conteudo .Vogue img{
    width: 600px;
}
.conteudo .Vogue{
    border: solid 1px black;
    padding: 10px;
    margin-bottom: 5px;
}
.conteudo .CalvinKlein img{
    width: 600px;
}
.conteudo .CalvinKlein{
    border: solid 1px black;
    padding: 10px;
    margin-bottom: 5px;
}
.conteudo .Pabllo img{
    width: 600px;
}
.conteudo .Pabllo {
    border: solid 1px black;
    padding: 10px;
    margin-bottom: 5px;
}

.conteudo .LudSesion img{
    width: 600px;
}
.conteudo .LudSesion{
    border: solid 1px black;
    padding: 10px;
    margin-bottom: 5px;
}
.conteudo .Anitta img{
    width:600px ; 
}
.conteudo .Anitta {
    border: solid 1px black;
    padding: 10px;
    margin-bottom: 5px;
}

.conteudo .Kalijaner img{
    width: 600px;
    
}
.conteudo .Kalijaner{
    border: solid 1px black;
    padding: 10px;
    margin-bottom: 5px;
}