
.main-guardaroupa{
    flex-grow: 1;
    width: 100%;
    background: #c3bad8c4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;   
    padding-bottom: 80px; 
}

.left-guardaroupa{
    flex-grow: 1.5;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}


.rigth-guardaroupa{
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
}

.pecas-selecionadas{
    width: 200px;
    max-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background: rgba(194, 134, 221, 0.568);
    padding: 25px;
    border-radius: 8px;
}

.pecas-selecionadas_peca {
    width: 100%;
    max-height: calc(100vh / 4);
    object-fit: cover;
}