
.main-guardaroupa{
    flex-grow: 1;
    width: 100%;
    background: #c3bad8c4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;   
    padding-bottom: 80px; 
}

.left-guardaroupa{
    flex-grow: 2;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    padding-left: 15px;
}


.rigth-guardaroupa{
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pecas-selecionadas{
    width: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    max-height: calc(100% - 500px);
    background: rgba(194, 134, 221, 0.568);
    padding: 50px;
    border-radius: 50px;
}

.pecas-selecionadas_peca {
    width: 100%;
    max-height: calc(100vh / 4);
}

.iconesg .iconegr1 .iconegr2{
    justify-content: right;
    justify-items: right;
}