body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#f2f2f2 ;
}
section .card .image {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: #7d2ae8;
}

section .card .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}
.card{
    position: relative;
    border-radius: 20px;
    background: #fff;
    margin: 20px 0;
    width: 280px;
}
.card::before{
    content: "";
    position: absolute;
    height:55%;
    width:100%;
    background: #7d2ae8;
    border-radius: 20px 20px 0 0;
}
.card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}
.card .media-icons{
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card .media-icons i{
    color: #fff;
    opacity: 0.6;
    margin-top: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.card .media-icons i:hover{
    opacity: 1;
}
.card .NomeModelo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: black;
}